*{
	margin: 0px;
	padding: 0px;
}

a {
	text-decoration: none;
	&:hover {
		text-decoration: none;
	}
}

// .text-center {
// 	text-align: center!important;
// }

.error_text {
	color: $red!important;
}

.error_field {
	border-color: $red!important;
}
